.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.font-eg{
    font-family: $en-fontFamily;
}   
.d-wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.fxdc{
    flex-direction: column;
}

.db{
    display: block;
}

.jcsb{
    justify-content: space-between;
}

.jcfs{
    justify-content: flex-start;
}

.jcad{
    justify-content: space-around;
}

.jcsey{
    justify-content: space-evenly;
}

.bg-primary{
    background: $primary;
}

.aic{
    align-items: center;
}

.aib{
    align-items: baseline;
}

.mr48{
    margin-right: 48px;
}

.mb8{
    margin-bottom: 8px;
}
