.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.font-eg{
    font-family: $en-fontFamily;
}   
.d-wrap{
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}

.fxdc{
    flex-direction: column;
}

.db{
    display: block;
}

.jcc{
    justify-content: center;
}

.jcsb{
    justify-content: space-between;
}


.jcfs{
    justify-content: flex-start;
}

.jcfe{
    justify-content: flex-end;
}

.jcad{
    justify-content: space-around;
}

.jcsey{
    justify-content: space-evenly;
}

.bg-primary{
    background: $primary;
}

.aic{
    align-items: center;
}

.aife{
    align-items: flex-end;
}

.aib{
    align-items: baseline;
}

.pt12{
    padding-top: 12px;
}

.pb12{
    padding-bottom: 12px;
}

.ml8{
    margin-left: 8px;
}
.mr8{
    margin-right: 8px;
}

.mr10{
    margin-right: 10px;
}

.mr12{
    margin-right: 12px;
}

.mr16{
    margin-right: 16px;
}

.mr20{
    margin-right: 20px;
}

.mr24{
    margin-right: 24px;
}
.mr30{
    margin-right: 30px;
}

.mr32{
    margin-right: 32px;
}

.mr48{
    margin-right: 48px;
}

.mb9{
    margin-bottom: 9px;
}

.mb60{
    margin-bottom: 60px;
}

.mb96{
    margin-bottom: 96px;
}

.mb4{
    margin-bottom: 4px;
}
.mb8{
    margin-bottom: 8px;
}

.mb16{
    margin-bottom: 16px;
}

.mb20{
    margin-bottom: 20px;
}

.mb24{
    margin-bottom: 24px;
}

.mb27{
    margin-bottom: 27px;
}

.mb25{
    margin-bottom: 25px;
}

.mb32{
    margin-bottom: 32px;
}

.mb40{
    margin-bottom: 40px;
}

.mb44{
    margin-bottom: 44px;
}

.mb48{
    margin-bottom: 48px;
}

.mb104{
    margin-bottom: 104px;
}

.mb107{
    margin-bottom: 107px;
}

.pt78{
    padding-top: 78px;
}

.pt80{
    padding-top: 80px;
}

.pb16{
    padding-bottom: 16px;
}

.pb80{
    padding-bottom: 80px;
}

.pl16{
    padding-left: 16px;
}

.pr16{
    padding-right: 16px;
}

.pb160{
    padding-bottom: 160px;
}