.banner{
    background-image: url('../images/banner.png');
    background-position: center center;
    height: 90vh;

    h2{
        @include font(64px,96px,$ch-fontFamily,bold);
        color:$secondary;
    }

    h3{
        @include font(36px,54px,$ch-fontFamily,normal);
        color:$secondary;
    }

    .container{
        height: 100%;

    }
}

.intro{
    background: $light-orange;
    h2{
        @include font(48px,72px,$ch-fontFamily,bold);
        color:$secondary;
        padding: 60px 0 40px 0;
        text-align: center;
    }

    .icon-clock,.icon-dollar{
        width: 84px;
        height: 84px;
        margin-bottom: 24px;
    }

    .icon-heart{
        width: 84px;
        height: 76px;
    }

    .icon-glasses{
        width: 84px;
        height: 76px;
    }

    h3{
        @include font(24px,36px,$ch-fontFamily,bold);
        color:$secondary;
    }

    p{
        @include font(16px,24px,$ch-fontFamily,normal);
    }
}

.classic{
    padding: 60px 0px;

    h2{
        @include font(48px,72px,$ch-fontFamily,bold);
        color:$secondary;
        text-align: center;
    }

    ul{
        width: 100%;

    

        .pic{
            width: 58%;
            height: 320px;
        }

        h3{
            @include font(48px,72px,$en-fontFamily,bold);
            color:$primary;
            font-style: italic;
        }
    }

}

.design{
    height: 705px;

    padding:60px 0 80px 0;
    
    background-image: url('../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;

    
    h2{
        @include font(48px,72px,$ch-fontFamily,bold);
        color:white; 
        text-align: center;
    }

    ul{
        width: 100%;
        li{
            width: 50%;
            height: 455px;
    
            h3{
                @include font(72px,108px,$en-fontFamily,bold);
                color:$primary;
            }
        }

        .pic1{
            background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png") center;
        }

        .pic2{
            background-image: url('../images/product-9.png');
        }
    }


}


.customer{
    padding-top: 60px;
    padding-bottom: 80px;

    h2{
        @include font(48px,72px,$ch-fontFamily,bold);
        text-align: center;
    }

    ul{
        width: 100%;

        li{
            width: 25%;
            height: 460px;
            border:1px solid #DEE2E6;
        
            img{
                margin-bottom: 16px;
                height: 256px;
            }

            h4{
                @include font(14px,21px,$ch-fontFamily,normal);
            }

            p{
                @include font(14px,21px,$ch-fontFamily,normal);
                color:$lighter-gray;
            }
        }
    }
}

.contact{
    background: $light-orange;
    padding-top: 60px;
    padding-bottom: 80px;

    h2{
        @include font(48px,72px,$ch-fontFamily,bold);
        text-align: center;
    }
    .content{
        width: 730px;
        margin: 0 auto;
        h3{
            @include font(20px,30px,$ch-fontFamily,normal);
        }

        p{
            @include font(16px,24px,$ch-fontFamily,normal);
        }

        input[type="text"],input[type="tel"],input[type="email"]{
            width: 100%;
            border:1px solid black;
            background: $light-orange;
            height: 50px;
            &::placeholder{
                padding: 14px 0px 14px 16px;
                @include font(16px,24px,$ch-fontFamily,normal);
            }
        }

        input[type="checkbox"]{
            background: $light-orange;
            width: 24px;
            height: 24px;
        }

        span{
            @include font(16px,24px,$ch-fontFamily,normal);
        }

        textarea{
            width: 100%;
            height: 136px;
            background: $light-orange;
            border:1px solid black;
        }

        input[type="submit"]{
            display: block;
            background:$primary;
            width: 350px;
            height: 54px;
            color:white;
            border:none;
            margin: 0 auto;
            @include font(16px,24px,$ch-fontFamily,normal);
        }
    }
}