@mixin bigTitle{
    margin-top: 96px;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 80px;
    font-weight:900;
    padding-left: 16px;
    border-left : 8px solid $primary;
    font-family:'Noto Sans';
}

@mixin font($font-size, $line-height,$font-family, $font-weight){
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    font-weight: $font-weight;
}

.page{
    li{
        border:1px solid #555555;
        display: flex;
        align-items: center;

        a{
            color:#555555;
            @include font(18px,27px,$en-fontFamily,normal);
            text-decoration: none;
            display: block;
            padding: 11px 12px;
        }
        
        &:hover{
            background: #000;
            a{
                color:white;
            }
        }
    }

        li:first-child,li:last-child{
            @include font(19px,29px,$en-fontFamily,normal);
            a{
                color:#555555;
                text-decoration: none;
            }

            &:hover{
                background: #000;
                a{
                    color:white;
                }
            }

        }
    
}